@mixin borderBtn (){
    border: solid 2px $text-color;
    background-color:$text-color;
}
@mixin marginZero-paddingZero(){
    margin: 0;
    padding: 0;
}
@mixin centerPosition($x, $y) {
    position: absolute;
    left: $x;
    top: $y;
    transform: translate(-$x, -$y);
}
@mixin mainBtnClass (){
    display: inline-block;
    width: 150px;
    margin-left: 25px;
    text-align: center;
    line-height: 15px;
    text-transform: uppercase;
    border: 1px solid $light-color;
    padding: 10px;
    border-radius: 10px;
}